
<section class="project_ajax">
	<div class="white-popup-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="titleText text-center">AGENT ACE</h1>
					<hr class="border">
					<p class="text-center">A better way for consumers to find a real estate agent</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<img class="img-responsive" style="height: 375px;width: 560px;" src="images/portfolio/big_agentace.jpg" alt="" />
				</div>
			
				<div class="descripBox col-sm-12 col-md-5 text-center">
					<h3 class="descrip">Description</h3>
					<ul>
						<li>
							Convert PSD comps into responsive HTML and CSS web pages
						</li>
					</ul>
					<h3 class="descrip descrip1">Tools</h3>
					<p>HTML5 &middot; CSS3 &middot; Sass &middot; Bootstrap &middot; Github</p>
					<a href="http://agentace.com/"><button class="descripBtn btn btn-default" target="_blank">VISIT WEBSITE</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
