
<section class="project_ajax">
	<div class="white-popup-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="titleText text-center">DAHLIA WOLF</h1>
					<hr class="border">
					<p class="text-center">where people come together to inspire fashion</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<img class="img-responsive" style="height: 375px;width: 560px;" src="images/portfolio/big_DW.jpg" alt="" />
				</div>
			
				<div class="descripBox col-sm-12 col-md-5 text-center">
					<h3 class="descrip">Description</h3>
					<ul>
						<li>
							Create, update and manage website contest and promotion sections 
						</li>
						<li>
							Optimize entire web application to utilize responsive web design
						</li>
						<li>
							Build product features for optimal user experience
						</li>
					</ul>
					<h3 class="descrip descrip1">Tools</h3>
					<p>HTML &middot; CSS &middot; Bootstrap &middot; AngularJS &middot;jQuery &middot; javascript &middot; JSON &middot; Github</p>
					<a href="http://www.dahliawolf.com/"><button class="descripBtn btn btn-default" target="_blank">VISIT WEBSITE</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
