
<section class="project_ajax">
	<div class="white-popup-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="titleText text-center">MAKELY</h1>
					<hr class="border">
					<p class="text-center">An e-commerce marketplace for social enterprises</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<img class="img-responsive" style="height: 375px;width: 560px;" src="images/portfolio/big_makely.jpg" alt="" />
				</div>
			
				<div class="descripBox col-sm-12 col-md-5 text-center">
					<h3 class="descrip">Description</h3>
					<ul>
						<li>
							Collaborate with team to build application features from initial conception through execution utilizing agile development
						</li>
						<li>
							Develop user stories and wireframes to identify pertinent product features
						</li>
						<li>
							Design interactive front-end style for consumer functionality
						</li>
					</ul>
					<h3 class="descrip descrip1">Tools</h3>
					<p>RoR &middot; PostgreSQL &middot; AWS &middot; Paperclip &middot; S3 &middot; JavaScript &middot; jQuery &middot; Bootstrap &middot; HTML5 &middot; CSS3 &middot; Github &middot; Heroku</p>
					<a href="http://makely.herokuapp.com/"><button class="descripBtn btn btn-default" target="_blank">VISIT WEBSITE</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
