
<section class="project_ajax">
	<div class="white-popup-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="titleText text-center">MSCLVR</h1>
					<hr class="border">
					<p class="text-center">Create links for the music you love to share and earn revenue</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<img class="img-responsive" style="height: 375px;width: 560px;" src="images/portfolio/big_MSCLVR.jpg" alt="" />
				</div>
			
				<div class="descripBox col-sm-12 col-md-5 text-center">
					<h3 class="descrip">Description</h3>
					<ul>
						<li>
							Develop user payments page to display current payment and billing information
						</li>
						<li>
							Coordinate closely with development team to build product features in weekly sprints
						</li>
					</ul>
					<h3 class="descrip descrip1">Tools</h3>
					<p>Slim &middot; Sass &middot; Foundation &middot; jQuery &middot; javascript &middot; AJAX &middot; RoR &middot; Github</p>
					<a href="http://msclvr.com/"><button class="descripBtn btn btn-default" target="_blank">VISIT WEBSITE</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
