
<section class="project_ajax">
	<div class="white-popup-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="titleText text-center">Brand TBD</h1>
					<hr class="border">
					<p class="text-center">Site Rebrand</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<img class="img-responsive" style="height: 375px;width: 560px;" src="images/portfolio/big_she.jpg" alt="" />
				</div>
			
				<div class="descripBox col-sm-12 col-md-5 text-center">
					<h3 class="descrip">Description</h3>
					<ul>
						<li>
							Collaborate closely with the design team to build working mockup for site rebrand
						</li>
					</ul>
					<h3 class="descrip descrip1">Tools</h3>
					<p>AngularJS &middot; HTML5 &middot; CSS3 &middot; jQuery &middot; javascript &middot; Github</p>
					<!-- <a href="http://bhlb.herokuapp.com/"><button class="descripBtn btn btn-default" target="_blank">VISIT WEBSITE</button></a> -->
				</div>
			</div>
		</div>
	</div>
</section>
