
<section class="project_ajax">
	<div class="white-popup-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="titleText text-center">SOHUM</h1>
					<hr class="border">
					<p class="text-center">A social business empowering women in developing countries</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<img class="img-responsive" style="height: 375px;width: 560px;" src="images/portfolio/big_sohum.jpg" alt="" />
				</div>
			
				<div class="descripBox col-sm-12 col-md-5 text-center">
					<h3 class="descrip">Description</h3>
					<ul>
						<li>
							Designed and developed website user flow and experience
						</li>
					</ul>
					<h3 class="descrip descrip1">Tools</h3>
					<p>JavaScript &middot; jQuery &middot; Bootstrap &middot; HTML5 &middot; CSS3 &middot; Github</p>
					<a href="http://ahneedesigns.com/sohum"><button class="descripBtn btn btn-default" target="_blank">VISIT WEBSITE</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
