
<section class="project_ajax">
	<div class="white-popup-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="titleText text-center">WANDERLUST</h1>
					<hr class="border">
					<p class="text-center">A skill sharing web application that allows users to connect</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<img class="img-responsive" style="height: 375px;width: 560px;" src="images/portfolio/big_wanderlust.jpg" alt="" />
				</div>
			
				<div class="descripBox col-sm-12 col-md-5 text-center">
					<h3 class="descrip">Description</h3>
					<ul>
						<li>
							Build web application features from initial conception through execution
						</li>
						<li>
							Develop user stories and wireframes to identify pertinent product features
						</li>
					</ul>
					<h3 class="descrip descrip1">Tools</h3>
					<p>RoR &middot; MongoDB &middot; Mongoid &middot; JavaScript &middot; jQuery &middot; Bootstrap &middot; HTML5 &middot; CSS3 &middot;Github</p>
					<!-- <a href="#"><button class="descripBtn btn btn-default" target="_blank">VISIT WEBSITE</button></a> -->
				</div>
			</div>
		</div>
	</div>
</section>
